@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-twitter: #1DA1F2;
  --color-twitter-dark: #1A91DA;
  --color-twitter-light: #71C9F8;
}

html,
body {
  @apply bg-gray-50 text-gray-900;
}
